@model CodeFirstApproach.Models.EmployeeModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="~/Default/Edit" method="post">
    <input type="hidden" name="EmpId" value="@Model.EmpId" />
    <label>Name</label>
    <input id="EmpName" type="text" name="EmpName" value="@Model.EmpName" /><br />
    <label>Salary</label>
    <input id="EmpSalary" type="text" name="EmpSalary" value="@Model.EmpSalary" /><br />
    <input type="submit" class="btn btn-success" />
</form>
